.blogPost {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    padding-right: 3em;

    .blogPost__image {
        border-radius: 1em;
        margin-bottom: 2em;
    }

    .title {
        margin-bottom: 4em;

        h1 {
            font-size: 2rem;
        }
        p{
            opacity: .5;
            margin-bottom: 0;
        }
    }

    h2 {
        font-size: 1.4rem;
        margin-bottom: 1em;
        margin-top: 1em;
    }

    p {
        word-break: normal;
        font-size: 1.2rem;
        line-height: 1.5;
        margin-bottom: .5em;
    }

    .reference {
        p {
            word-break: break-all;
        }
    }
}