body{
      
}
.menu {

  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  // making sure it is full height
  // height 100vh
  justify-content: center;
  width: 100vw;
  background: #ffffff;
  z-index: 12;

  display: flex;
  flex-direction: column;

  transform: translateX(-100%);

  transition: all 0.35s;

  @apply md:hidden md:absolute;
  
  .header{
    position: absolute;
    display: flex;
    padding-top: 4rem;
    padding-right: 2rem;
    font-size: 3rem;
    font-weight: 900;    
    // position: fixed;
    align-self: flex-end;
    bottom: 5vh;
    width: 10rem;
    text-align: end;
    word-break: break-all;
    h1{
      font-family: "Roboto", sans-serif;
    }
  }
  .link{
    padding-left: .8rem;
    @apply w-full absolute flex flex-col pr-4 pt-12;
    li{
      @apply w-full flex font-semibold border-b border-gray-100 border-solid py-3 my-1 ;
      font-family: 'Poppins';
      // margin-top: 1.2em;
      font-size: 1.3rem;
      a {
        @apply w-full;
      }
    }
    .active{
        @apply text-amber-500;      
    }
  }

  &.open {
    transform: translateX(0);
  }

  a {
    pointer-events: all;
  }
}