.about{

    display: flex;

    padding: 1em;
    font-size: calc(1px + 2em);
    .left{
        font-size: 90%;
        width: 10em;
        h1{
            width: 7em;
            font-weight: 900;
            font-size: 1.5em;
            margin-bottom: 1em;
        }
    }
    .right{
            width: 110vw;
            height: 80vh;
            position: relative;
        .img{
                display: none;
                width: 20em;
                position: absolute;
                top: -6vh;
                right: -59px;
        }
    }
}

@include bp("small"){
    .about{

        padding-left: 5rem;
        .left{
            padding-top: 5rem;
            width: 100%;
        }
        .right{
            overflow: hidden;
            .img{
                display: block;
            }
        }
    }
}