@import "./reset";


html, ul, li, a {
    font-family: "Roboto",  sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

a{
    color: inherit;
    text-decoration: none;
}


// variable

@import "./variable/color";
@import "./variable/bp";
@import "./variable/contact";

// components

@import "./layout/layout";
@import "./header/header";
@import "./footer/footer";


// page

@import "./page/index";
@import "./page/about";
@import "./page/works";
@import "./page/blogs";
@import "./page/contacts";


html {
    background-color: $white-color;
    body{
        background-color: $white-color;
    }
}